*{
	font-family: "Arial", monospace;
	font-size:16px;
}

.external {
	color: yellow;
}

h1 {
	font-size:3rem;
}

#uppercase {
	text-transform: uppercase;
}

h3 {
	text-transform: uppercase;
}

.list-1 li {
	background-color: lightgreen;
}

[list-2] {
	border: 1px solid lightblue;
}

img + ol {
	list-style-type: none;
}

section img {
	border-radius: 100%;
	width: 150px;
	height: 150px;
}

h4 ~ p {
	text-align: center;
}

body> section > .list-3 > li {
	letter-spacing: 5px;
}